* {
  box-sizing: border-box;
}

/* Style the body */
body {
font-family: consolas;
margin: 0;
}

/* h1 { */
/*   color: maroon;*/
/*   margin-left: 40px;*/
/* }*/

/* Header/logo Title */
.header {
padding: 60px;
text-align: center;
/*background: #1abc9c; new green? */
background: #42f49e; /*original green? */
color: black;
}

.nav {  
display: flex;
flex-wrap: nowrap;
position: -webkit-sticky;/* 1. Keeps the nav bar at the top */
position: sticky;/* 2. Keeps the nav bar at the top */
top: 0;/* 3. Keeps the nav bar at the top */
}
.navlinks {
background-color: #333;
flex: 70%;
object-fit:contain;
flex-direction: row;
}
.navlogo {
background-color: #333;
flex: 30%;
object-fit:contain !important;
display: flex !important; /* Add this line */
justify-content: center !important; /* Add this line */
align-items: center !important; /* Add this line */
}
img{
width:100%;
height:auto;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
li {
float: right;
}
li a {
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover:not(.active) {
background-color: #787878;
}
.active {
background-color: #ddd;
color: black;
}

.topnav {
overflow: hidden;
display: flex;
background-color: #333;
position: -webkit-sticky;/* 1. Keeps the nav bar at the top */
position: sticky;/* 2. Keeps the nav bar at the top */
top: 0;/* 3. Keeps the nav bar at the top */
}
.topnav #myLinks {
display: none;
}
.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}
.topnav a:hover:not(.active) {
background-color: #787878;
}

@media screen and (max-width: 750px){
.nav {
display: none;  
}
.topnav {
display: block !important;
}
}


/* Column container */
.row {  
display: flex;
flex-wrap: wrap;
}
/* Create three unequal columns that sits next to each other */
/* Sidebar/left column */
.leftside {
flex: 15%;
background-color: #f1f1f1;
padding: 20px;
}
/* Sidebar/right column */
.rightside {
flex: 15%;
background-color: #f1f1f1;
padding: 20px;
}
/* Main column */
.main {
flex: 70%;
background-color: white;
padding: 20px;
}
/* image example */
.image {
background-color: #fff;
flex: 50%;
object-fit:contain;
height: fit-content;
}
/*img{
width:100%;
height:100%;
}*/
.content{
background-color: #fff;
flex: 50%;
/*height: 290px;*/
height: fit-content;
object-fit:contain;
}
.content33{
background-color: #fff;
flex: 33%;
/*height: 290px;*/
height: fit-content;
}
.content33 a {
text-decoration: none;
}
iframe{
width:100%;
height:290px;/* origianl 100%*/
max-width:960px;
max-height:569px;
}
/* Footer */
.footer {
padding: 20px;
text-align: center;
background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
.row, .navbar {   
flex-direction: column;
}
}

ol {
display: block;
list-style-type: decimal;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
padding-left: 30px;
padding-right: 50px
}