* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: consolas;
  margin: 0;
}

h1, h2, h3{ 
   color: maroon;
   margin-left: 20px;
margin-right: 20px;

}
p { 
   color: maroon;
   margin-left: 20px;
margin-right: 20px;
}


/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  /*background: #1abc9c; new green? */
background: #42f49e; /*original green? */
  color: black;
}


.nav {  
display: flex;
flex-wrap: nowrap;
position: -webkit-sticky;/* 1. Keeps the nav bar at the top */
position: sticky;/* 2. Keeps the nav bar at the top */
top: 0;/* 3. Keeps the nav bar at the top */
}
.navlinks {
background-color: #42f49e;
flex: 70%;
object-fit:contain;
flex-direction: row;
padding: 5px 10px;
}
.navlogo {
background-color: #42f49e;
flex: 30%;
object-fit:contain;
padding: 5px 0px 5px 10px;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
}
img{
width:100%;
height:auto;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #42f49e;
}
li {
float: right;
}
li a {
display: block;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover:not(.active) {
background-color: #04AA6D;
}
.active {
background-color: #04AA6D;
color: white;
}


.topnav {
overflow: hidden;
background-color: #333;
position: relative;
position: -webkit-sticky;/* 1. Keeps the nav bar at the top */
position: sticky;/* 2. Keeps the nav bar at the top */
top: 0;/* 3. Keeps the nav bar at the top */
}
.topnav #myLinks {
display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.activetop {
  background-color: #42f49e;
  color: black;
}



@media screen and (max-width: 750px) {
  .nav {
    display: none;
  }

  .topnav {
    display: block;
  }
}


/* Responsive layout - when the screen is less than 700px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
  .row {   
    flex-direction: column;
  }
}












/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create three unequal columns that sits next to each other */
/* Sidebar/left column */
.leftside {
  flex: 15%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Sidebar/right column */
.rightside {
  flex: 15%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: pink;
  /*padding: 20px;*/
}



.content{
background-color: #fff;
flex: 50%;
/*height: 290px;*/
height: fit-content;
object-fit:contain;
}
.content33{
background-color: #fff;
flex: 33%;
/*height: 290px;*/
height: fit-content;
}

.content33 a {
  text-decoration: none;
}


iframe{
width:100%;
height:290px;/* origianl 100%*/
max-width:960px;
max-height:569px;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}



